body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    text-decoration: underline;
    color: orange;
    font-size: 90px;
    text-align: center;
}
p {
    color: purple;
    font-size: 20px;
}
img {
    width: 50vw;
    height: 50vh;
}
#image-id {
    display: column;
    flex-direction: row;
    width: 100%;
}
#bottom {
    text-align: right;
}
#bottom>img {
    width: 47.5vw;
    margin-top: 0;
    padding-top: 0;
}
